.content-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 75%;
  margin: 2rem auto;
  height: auto;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    width: 100%;
    gap: 3rem;
  }
}
